[submodule "src/modules/gateways/begateway/lib"]
	path = src/modules/gateways/begateway/lib
	url = https://github.com/beGateway/begateway-api-php.git
[submodule "docker-whmcs"]
	path = docker-whmcs
	url = https://github.com/begateway/docker-whmcs
